.form_main{
    background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

}
.form_container{
    display: flex;
    flex-direction: column;

}
.booking_input{
    height: 50px;
    width: 250px;
    border-radius: 20px 0 20px 20px;
    margin: .5%;
}
