.main_ras{
   background-image: url('https://www.coe.int/documents/3973856/89508158/Thematic+factsheets/138b25ea-eb94-0f40-f30e-2b9ba62eb7f4');
   background-repeat: no-repeat;
   background-size: cover;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    padding-top: 10px;
    display: flex;
    height: 80vh;
}
.ras_con{
    
    width: 100%;
    height: auto;
    border-top: 2px dashed black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ras_title{
    display: flex;
}
.ras_info{
    display: flex;
    font-size: large;
    color: rgb(81, 85, 33);
}
.rm:hover{
    cursor: pointer;
    color: rgb(46, 75, 2);

}
.left{
    display: flex;
    padding: 8%;
    width: 100%;
}
.ras_img{
    border-radius: 8px;
    width: 90%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}