.main_teachers{
    width: 100%;
   background-image: url('./../../assets/image/teach.jpeg');
   background-repeat: no-repeat;
   background-size: auto;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    margin-top: -5%;
    
}
.t_con{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255,255,255,.7);
    cursor: pointer;
}
.t_title{
    display: flex;
}
.t_info{
    display: flex;
    font-size: large;
}
.t_right{
    display: flex;
    padding-right: 8%;
    width: 100%;
}
.t_img{
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}