.main_arcane{
    width: 100%;
    background-color: rgb(237,237,237);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 86%);
    margin-top: -7.5%;
    height: 100vh;
    display: flex;
    
}
.a_con{
    color: #3CCD98;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
   }
.a_title{
    display: flex;
}
.a_info{
    display: flex;
    color: #3CCD98;
    
}
.a_right{
    display: flex;
    padding-right: 8%;
    align-items: center;
    width: 100%;
}
.a_img{
    display: flex;
    border-radius: 8px;
    width: 100%;
    height: min-content;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.rm4{
    color:rgb(60, 205, 152,.7) ;
}
.rm4:hover{
    color:#3CCD98;
}
.enq{
    color: rgb(60, 205, 152,.7);
}
.enq:hover{
    color: #3CCD98;
}
.pop{
    z-index: 1;
}