.main-nav{
    display: flex;
    justify-content: space-between;
    padding:0 20%;
    height: 100px;
    align-items: center;
    background-color: #fff;
  }
  .logo  {
    display: flex;
  }
  .navlogo{
    height: 100px;
    width: auto;
    transition: all .3s linear;
  }
  
  .nav_btn{
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  border: none;
  background: transparent;
  color: rgb(0, 0,0);
  font-weight: bolder;
  font-size: x-large;
}
.navlogo:hover{
  transform: scale(1.5);
  background-color: rgb(255,255,255,.9);
  border-radius: 5px;
  z-index: 1;
}