.main-nav{
    display: flex;
    justify-content: space-between;
    padding:0 20%;
    height: 100px;
    align-items: center;
    background-color: #fff;
  }
  .logo  {
    display: flex;
  }
  .navlogo{
    
    z-index: 1;
    height: 100px;
    width: auto;
  }
  
  .nav_btn{
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  border: none;
  background: transparent;
  color: rgb(0, 0,0);
  font-weight: bolder;
  font-size: x-large;
}
